main{
  max-width:60%;
  margin:auto;
  padding:0 1.5rem 4rem;
}

section{
  background:var(--card);
  border:1px solid var(--border);
  border-radius:16px;
  box-shadow:0 15px 30px rgba(0,0,0,0.05);
  padding:0 2rem 2rem 2rem;
}

section h2{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

section p{
  color:var(--muted);
  margin-bottom:1rem;
}

section img{
  width:100%;
  object-fit: cover;
  margin-top:1.5rem;
  border-radius:12px;
  cursor:pointer;
  transition:transform .2s ease, box-shadow .2s ease, filter 0.2s ease;
  filter: blur(0px) contrast(1);

}

section img:hover{
  filter: blur(0);
  transform: scale(1.01);
  box-shadow:0 10px 30px rgba(0,0,0,.15);
}

.gallery {
  display: flex;
  gap: 20px;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 30%;
}

.version{
  margin-top:1.5rem;
  font-weight:600;
}

code{
  display:block;
  background:#111827;
  color:#e5e7eb;
  padding:0.7rem;
  border-radius:10px;
  overflow-x:auto;
  font-size:.85rem;
}

#lightbox{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.85);
  display:none;
  align-items:center;
  justify-content:center;
  z-index:1000;
}

#lightbox img{
  max-width:90%;
  max-height:90%;
  border-radius:12px;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 ratio */
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

}
